
.slides {
    margin-top: 100px;
    padding: 0;
    width: 100%;
    height: 510px;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-bottom: 0!important;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; margin-left: 0!important; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 400px;
    display: block;
    position: absolute;
    transform: scale(1);
    left: -99px;
    transition: all 0.6s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.slide figure {
  display: block;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
}
.slide-figure {
    width: 30%;
    margin: 0 auto;
    background: transparent;
    padding: 20px 50px 40px;
}
.slide-figure>h4>a {
    color: #2267af !important;
}
.slide-figure>a.button {
    background: #2267af;
    color: white!important;
    padding: 6px 20px;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    text-align: center;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
}
input:checked + .slide-container  .slide {
  opacity: 1;
  transform: scale(1);
  transition: all 0.6s ease-in-out;
  left: 0;
}

/********************* nav label **************************/

.nav label {
  width: 200px;
  height: 100%;
    display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity .2s;
  color: rgba(255, 255, 255, .8);
  font-size: 156pt;
  text-align: center;
  line-height: 450px;
  font-family: inherit;
  background-color: rgba(255, 255, 255, .3);
  text-shadow: 0px 0px 15px rgba(119, 119, 119, 0.3);
}
.slide:hover + .nav label { opacity: 0.5; }
.nav .next { right: 0; }
input:checked + .slide-container .nav label { display: block !important; }

/***************************** nav dots ****************************/

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgb(243, 148, 0);
}


/***************************** Slick Slider ***********************************/


/* slick nav */
.slick-arrow {
    display: block;
    position: absolute;
    z-index: 9;
    color: rgba(255,255,255,0.5);
    font-size: 250px;
    margin-top: 4%;
    cursor: pointer;
    top:0;
    clear: both;
}
.prev.slick-arrow {
  left:0
}
.next.slick-arrow {
  right:0
}


/*
*
* Responsive
* max-widths
*
*/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .slides {
    top: 0 !important;
    margin-bottom: 0 !important;
    height: 150px!important;
  }
  .slide {
      height: 200px !important;
  }
  .slide figure {
    margin: 50px 0 !important;
  }
  .slide-figure {
    width: 80%;
    padding: 10px;
    text-align: center;
  }
  .nav label {
    width: 10%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 9;
    font-size: 156pt;
    line-height: 200px;
  }
  .slide-container, .nav-dots {margin-left: 0!important;}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .nav label {
    font-size: 100pt;
    line-height: 135px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .nav label {
    font-size: 70pt;
    line-height: 140px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* magento navi fix */

.nav label#nav-prev-1:hover,
.nav label#nav-prev-2:hover,
.nav label#nav-prev-3:hover,
.nav label#nav-prev-4:hover,
.nav label#nav-prev-5:hover,
.nav label#nav-prev-6:hover,
.nav label#nav-next-1:hover,
.nav label#nav-next-2:hover,
.nav label#nav-next-3:hover,
.nav label#nav-next-4:hover,
.nav label#nav-next-5:hover,
.nav label#nav-next-6:hover {
  opacity: 1 !important;
  position: absolute !important;
  z-index: 9999 !important; }
