<!-- //BEGIN// CSS Slider v2 -->
<!-- build array if items -->
<?php $collection = Mage::getModel('cms/block')->getCollection()
->addFieldToFilter('identifier', array('like'=>'homeslider%'))
->addFieldToFilter('is_active', 1);
$blockNum = 1;
$the_data_array = [];
foreach($collection as $key => $value){
    $_blockId = $this->getIdentifier();
    $block_ID = $_blockId . $blockNum;
      // echo "Block ID: " .   $block_ID . "<br />";
    $blockNum++;

    $internalIdentifier = $value['identifier'];
     $findme = "homeslider";
    $_block = $this->getLayout()->createBlock('cms/block')->setBlockId($internalIdentifier);

    if ( ($_block) && (strpos($internalIdentifier, $findme)==0) ) : ?>
      <?php array_push( $the_data_array, $_block->toHtml() ); ?>
    <?php
    endif;
} ?>
<?php
$labels = count($the_data_array);
if ($labels>4){$labels=4;} // cap at 4
?>



<section id="uc-slider">
<ul class="slides slick-slider">
<?php for ($i=0; $i < 4; $i++) { ?>
	<?php
	if ($i+1<$labels) { $next = $i+2;}
	else { $next = 1; }
	if ($i>0){ $prev = $i;}
	else { $prev = 4;}
	?>
  <li class="slide-container">
    <?php echo $the_data_array[$i] ?>
  </li>
 <?php } ?>
</ul>
<div class="clear"></div>
</section>
	
