<!-- UC / Unternehmen -->
<!-- <span class="name">Michael Fortdran - </span> Managing Director-->


<div id="uc-helden">
  <div class="helden-headline"><span>Unsere Helden</span></div>

  <section id="uc-helden-1">

    <?php $collection = Mage::getModel('cms/block')->getCollection()
    ->addFieldToFilter('identifier', array('like'=>'%held%'))
    ->addFieldToFilter('is_active', 1);

    $blockNum = 1;
    foreach($collection as $key => $value){
        $_blockId = $this->getIdentifier();
        $block_ID = $_blockId . $blockNum;
          //echo "Block ID: " .   $block_ID . "<br />";
        $blockNum++;

        $internalIdentifier = $value['identifier'];
         $findme = "uc-held";
        $_block = $this->getLayout()->createBlock('cms/block')->setBlockId($internalIdentifier);

        //if (strpos($internalIdentifier, $findme)!==FALSE) {
          //echo "0";
        //}

        // style="outline:2px solid red"

        if ( ($_block) && (strpos($internalIdentifier, $findme)==0) ) : ?>
        <div class="uc-held col-4" >
          <div class="helden-container">
            <p class="name-and-info"><?php echo Mage::getModel('cms/block')->load($internalIdentifier)->getTitle(); ?></p>
          </div>
            <?php echo $_block->toHtml(); ?>
        </div>
        <?php
        endif;
    } ?>

 </section>
</div><!-- helden -->


<?php
/*
<hr>
<pre><?php var_dump( $value ); ?></pre>
<pre><?php echo $internalIdentifier; ?></pre>
*/
?>
