<section id="hometall">
  <a href="/about">
    <div class="uc-teaser-inner">
      <a href="/about">&nbsp;</a>
    </div>
  </a>
</section>

<style media="screen">
  #hometall .uc-teaser-inner {
    background-image: url(<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('hometall')->toHtml();?>);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 921px;
    max-width: 100%;
    width:100%;
  }
  #hometall .uc-teaser-inner a:before {
    content: "<?php echo Mage::getModel('cms/block')->load('hometall')->getTitle() ?>";
  }
</style>
