<section id="home22">
    <div class="uc-teaser-inner">
      <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home22')->toHtml();?>
    </div>
</section>

<style media="screen">
  #home22 .uc-teaser-inner a:before {
    content: "<?php echo Mage::getModel('cms/block')->load('home22')->getTitle() ?>";
  }
</style>
