<section id="home12">
    <div class="uc-teaser-inner">
      <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home12')->toHtml();?>
    </div>
</section>

<style media="screen">
  #home12 .uc-teaser-inner a:before {
    content: "<?php echo Mage::getModel('cms/block')->load('home12')->getTitle() ?>";
  }
</style>
