<section id="home11">
    <div class="uc-teaser-inner">
      <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home11')->toHtml();?>
    </div>
</section>

<style media="screen">
  #home11 .uc-teaser-inner a:before {
    content: "<?php echo Mage::getModel('cms/block')->load('home11')->getTitle() ?>";
  }
</style>
