<!-- UnderCover // Licenses -->

    <section id="licenses">

      <?php $collection = Mage::getModel('cms/block')->getCollection()
      ->addFieldToFilter('identifier', array('like'=>'%license-element%'))
      ->addFieldToFilter('is_active', 1);

      $blockNum = 1;
      foreach($collection as $key => $value){
          $_blockId = $this->getIdentifier();
          $block_ID = $_blockId . $blockNum;
            // echo "Block ID: " .   $block_ID . "<br />";
          $blockNum++;

          $internalIdentifier = $value['identifier'];
           $findme = "uc-held";
          $_block = $this->getLayout()->createBlock('cms/block')->setBlockId($internalIdentifier);

          //if (strpos($internalIdentifier, $findme)!==FALSE) {
            //echo "0";
          //}

          // style="outline:2px solid red"

          if ( ($_block) && (strpos($internalIdentifier, $findme)==0) ) : ?>
          <div class="uc-teaser-inner col-4" >
              <?php echo $_block->toHtml(); ?>
          </div><!-- //license element -->
          <?php
          endif;
      } ?>

   </section>
