<section id="home21">
    <div class="uc-teaser-inner">
      <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home21')->toHtml();?>
    </div>
</section>

<style media="screen">
  #home21 .uc-teaser-inner a:before {
    content: "<?php echo Mage::getModel('cms/block')->load('home21')->getTitle() ?>";
  }
</style>
