<!-- //BEGIN// CSS Slider v2 -->
<!-- build array if items -->
<?php $collection = Mage::getModel('cms/block')->getCollection()
->addFieldToFilter('identifier', array('like'=>'homeslider%'))
->addFieldToFilter('is_active', 1);
$blockNum = 1;
$the_data_array = [];
foreach($collection as $key => $value){
    $_blockId = $this->getIdentifier();
    $block_ID = $_blockId . $blockNum;
      // echo "Block ID: " .   $block_ID . "<br />";
    $blockNum++;

    $internalIdentifier = $value['identifier'];
     $findme = "homeslider";
    $_block = $this->getLayout()->createBlock('cms/block')->setBlockId($internalIdentifier);

    if ( ($_block) && (strpos($internalIdentifier, $findme)==0) ) : ?>
      <?php array_push( $the_data_array, $_block->toHtml() ); ?>
    <?php
    endif;
} ?>
<?php
$labels = count($the_data_array);
if ($labels>4){$labels=4;} // cap at 4
?>



<section id="uc-slider">
<ul class="slides">
<?php for ($i=0; $i < 4; $i++) { ?>
	<?php
	if ($i+1<$labels) { $next = $i+2;}
	else { $next = 1; }
	if ($i>0){ $prev = $i;}
	else { $prev = 4;}
	?>

	<input type="radio" name="radio-btn" id="img-<?php echo $i+1 ?>" <?php if ($i==0){ echo " checked"; } ?> />
	<li class="slide-container">
			<div class="slide">
				<figure>
					<div class="slide-figure">
						<h4><a target="_blank" href="#">&nbsp;</a></h4>
					</div>
				</figure>
				<?php echo $the_data_array[$i] ?>
			</div>
	<div class="nav">
		<label for="img-<?php echo $prev ?>" class="prev" id="nav-prev-<?php echo $i+1 ?>">&#x2039;</label>
		<label for="img-<?php echo $next ?>" class="next" id="nav-next-<?php echo $i+1 ?>">&#x203a;</label>
	</div>
	</li>
<?php } ?>
<li class="nav-dots">
<?php
for ($i=1; $i < $labels+1; $i++) {  ?>
	<label for="img-<?php echo $i ?>" class="nav-dot" id="img-dot-<?php echo $i ?>"></label>
<?php } ?>
</li>
</ul>
<div class="clear"></div>
</section>


<!-- //END// CSS Slider v2 -->
