<div class="col-12" style="margin: 2rem 0">

  <div class="togglebox">

  <input id="toggle1" type="radio" name="toggle" />
  <label for="toggle1"><?php echo Mage::getModel('cms/block')->load('uc-stellenangebote')->getTitle(); ?></label>

  <section id="content1">
   <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('uc-stellenangebote')->toHtml(); ?>
  </section>

  <input id="toggle2" type="radio" name="toggle" />
  <label for="toggle2"><?php echo Mage::getModel('cms/block')->load('uc-ausbildung')->getTitle(); ?></label>

  <section id="content2">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('uc-ausbildung')->toHtml(); ?>
  </section>

 </div>

</div>



<style media="screen">
  .togglebox {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  transform: translateZ(0);
  }

  input[type="radio"] {
  position: absolute;
  opacity: 0;
  }

  label {
      position: relative;
      display: block;
      line-height: 50px;
      font-size: 18px;
      font-weight: 300;
      border-top: 1px solid #ddd;
      background: #fff;
      cursor: pointer;
  }

  label[for*='1'] {
  border: 0;
  }

  label:after {
  content: '\f078';
  position: absolute;
  top: 0px;
  right: 20px;
  font-family: fontawesome;
  transform: rotate(90deg);
  transition: .3s transform;
  }

  section {
  height: 0;
  transition: all .5s ease;
  overflow: hidden;
  }

  #toggle1:checked ~ label[for*='1']:after,
  #toggle2:checked ~ label[for*='2']:after,
  #toggle3:checked ~ label[for*='3']:after,
  #toggle4:checked ~ label[for*='4']:after {
  transform: rotate(0deg);
  }

  #toggle1:checked ~ #content1,
  #toggle2:checked ~ #content2,
  #toggle3:checked ~ #content3,
  #toggle4:checked ~ #content4 {
  height: 100px;
  }
</style>
