<?php
// CSS: slider.css
?>

<section id="uc-slider">

	<div class='csslider1'><!-- autoplay -->
		<input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_slide1_3' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor'>
		<input name="cs_anchor1" id='cs_pause1' type="radio" class='cs_anchor' checked >
		<ul>
			<div style="position: relative;display: block;float: left;z-index: 1;width: 100%;">
				<img src="/skin/frontend/venustheme/underco/images/slider/header_dorie.png" style="width: 100%;">
			</div>
			<li class='num0 img'>
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('homeslider1')->toHtml();?>
			</li>
			<li class='num1 img'>
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('homeslider2')->toHtml();?>
			</li>
			<li class='num2 img'>
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('homeslider3')->toHtml();?>
			</li>
			<li class='num3 img'>
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('homeslider4')->toHtml();?>
			</li>

		</ul>
		<div class='cs_description'>
			<label class='num0'>
				<span class="cs_title"><span class="cs_wrapper"><?php echo Mage::getModel('cms/block')->load('homeslider1')->getTitle() ?></span></span>
			</label>
			<label class='num1'>
				<span class="cs_title"><span class="cs_wrapper"><?php echo Mage::getModel('cms/block')->load('homeslider2')->getTitle() ?></span></span>
			</label>
			<label class='num2'>
				<span class="cs_title"><span class="cs_wrapper"><?php echo Mage::getModel('cms/block')->load('homeslider3')->getTitle() ?></span></span>
			</label>
			<label class='num3'>
				<span class="cs_title"><span class="cs_wrapper"><?php echo Mage::getModel('cms/block')->load('homeslider4')->getTitle() ?></span></span>
			</label>
		</div>

		<div class='cs_arrowprev'>
			<label class='num0' for='cs_slide1_0'></label>
			<label class='num1' for='cs_slide1_1'></label>
			<label class='num2' for='cs_slide1_2'></label>
			<label class='num3' for='cs_slide1_3'></label>
		</div>
		<div class='cs_arrownext'>
			<label class='num0' for='cs_slide1_0'></label>
			<label class='num1' for='cs_slide1_1'></label>
			<label class='num2' for='cs_slide1_2'></label>
			<label class='num3' for='cs_slide1_3'></label>
		</div>

		<div class='cs_bullets'>
			<label class='num0' for='cs_slide1_0'>
				<span class='cs_point'></span>
				<span class='cs_thumb'>
					<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('homeslider1')->toHtml();?>
				</span>
			</label>
			<label class='num1' for='cs_slide1_1'>
				<span class='cs_point'></span>
				<span class='cs_thumb'>
					<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('homeslider2')->toHtml();?>
				</span>
			</label>
			<label class='num2' for='cs_slide1_2'>
				<span class='cs_point'></span>
				<span class='cs_thumb'>
					<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('homeslider3')->toHtml();?>
				</span>
			</label>
			<label class='num3' for='cs_slide1_3'>
				<span class='cs_point'></span>
				<span class='cs_thumb'>
					<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('homeslider4')->toHtml();?>
				</span>
			</label>
		</div>
		</div>


</section>
